/*.carousel-item{
height: 100vh;
min-height: 300px;
background: no-repeat center center scroll;
-webkit-background-size:cover;
background-size: cover;
}*/
.navbar a{
	font-family: 'David Libre', serif;
	font-size: 18px;
}

.navbar a:hover{
   color: red;
}
 

.navbar .navbar-nav .nav-link li a{
	color: white;
}
.carousel-item{
background: no-repeat center center scroll;
-webkit-background-size:cover;
background-size: cover;
}
.carousel-caption{
 bottom:120px;
}

.carousel-caption h5{
font-size:50px;
text-transform: uppercase;
letter-spacing: 4px;
font-family: poppins, sans-serif;
}

.carousel-caption p{
width: 50%;
margin:auto;
font-size: 20px;
line-height: 1.7;
font-family: 'Dosis', sans-serif;
}

.carousel-caption a{
	text-transform: uppercase;
	padding: 10px 30px;
	display: inline-block;
	margin-top: 15px;
}
