/*.carousel-item{
height: 100vh;
min-height: 300px;
background: no-repeat center center scroll;
-webkit-background-size:cover;
background-size: cover;
}*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300&family=Roboto:wght@500&family=Source+Sans+Pro:wght@600&display=swap');
.navbar a{
font-family: 'Source Sans Pro', sans-serif;
font-size: 18px;
font-weight: lighter;
}

.navbar{
transition: 1s ease background-color;
	}

.navbar img{
	max-width: 100%;
    height: auto;
}
.dropdown .dropdown-info{
	background-color: #FBB917;
}

/*.dropdown .dropdown-info a{
	color: white;
}*/
/*@media only screen and (max-width:767px){
.navbar .navbar-nav .ml-auto{
background:gray;

}*/

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FBB917;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Open Sans', sans-serif;
}

.dropdown-content a:hover {background-color: white;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}


.navbar .navbar-toggler{
	background-color:transparent;
	transition: 1s ease background-color;
}

.navbar .navbar-toggler:hover {
background-color: white;
}

.carousel-item{
background: no-repeat center center scroll;
-webkit-background-size:cover;
background-size: cover;
}
.carousel-caption{
 bottom:200px;
 /*background-color:#f2c106;*/

}

.carousel-caption h5{
font-size:50px;
text-transform: uppercase;
letter-spacing: 4px;
font-family: poppins, sans-serif;
}

.carousel-caption p{
width: 80%;
margin:auto;
font-size: 20px;
line-height: 1.7;
font-family: 'Open Sans', sans-serif;
color: white;
padding: 5px;
/*width: fit-content;*/
}

.carousel-caption #comp{
	width: 95%;
}

.carousel-caption #cons{
	width: 95%;
}
.carousel-caption a{
	text-transform: uppercase;
	padding: 10px 30px;
	display: inline-block;
	margin-top: 15px;
	background-color: transparent;
	border:2px solid #FBB917;
	letter-spacing: .1rem;
	transition: .3s ease;
	transition-property: background-color, font-weight;

}

.carousel-caption a:hover{
	background-color:#FBB917;
	color: white;
	font-weight: bold;
}

.two{
	/*background-color:rgb(235,117,47);*/
	background-color:#FBB917;
	opacity: 0.9;
	padding-top:40px;
	text-align: center;
	margin-top: 320px;
	margin-left: 180px;
	margin-right: 180px;
	padding-bottom:1px; 

}

.two p{
	text-align:block; 
	margin-top: 5px;
	line-height: 1.7;	
	padding-bottom:30px;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
/*    font-family: 'Open Sans', sans-serif;
*/
	/*text-align: center;*/
	/*width: 60%;*/
}
.two h1{
	margin-top: 15px;
	font-size: 55px;
	font-family: 'Poppins', sans-serif;
    /*font-weight:;*/
}
/* About Page*/

.who{
	background-image:url("images/one1.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
/*color: white;*/
}

.sec h1{
	text-align: center;
	margin-top: 90px;
	font-size: 55px;
	font-family: 'Poppins', sans-serif;


}

.sec p{
	text-align: center;
	line-height: 1.9;
	padding: 10px 30px;	
	margin-bottom:70px;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;

}

.third{
	background-color:#FBB917;
	text-align: center;
	padding-top: 90px;

}
.third p{
	line-height: 1.9;
	padding: 10px 30px;	
	margin-bottom:70px;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;

}

.third h1{
	font-size: 55px;
	font-family: 'Poppins', sans-serif;
}

/*location*/
.forth h1{
 	text-align: center;
 	padding-top: 70px;
 	padding-bottom:90px;
 	font-size: 50px;
 	font-family: 'Poppins', sans-serif;


}

.forth{
	background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,0.6)),url("images/na.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color:white;
   
}
.forth h4{
	font-size: 30px;
	width: fit-content;
}
.forth p{
    line-height: 1.7;
	padding-bottom:30px;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;

}

.forth .Nairobi{
	 transition: .3 ease fadeOut;
}

.Nairobi p{
   width:60%;      
}
/*what we do*/
.we-do{
 font-family: 'Poppins', sans-serif;
 text-align: center;
 margin-top: 60px;
 margin-bottom: 50px;
}
.we-do .top-head{
	text-transform: uppercase;
}
.top-head h4{
 font-weight: bold;
 letter-spacing: .05rem;
 margin-bottom: 20px;
 text-align: center;
}

.top-head img{
   margin-bottom: 50px;
}

.we-do ul:nth-of-type(1) {
  list-style-type: disc;
  text-align: left;
  margin-top: 10px;
}

.what-head h1{
	text-align: center;
	margin-top: 90px;
	margin-bottom:50px;
	font-size: 55px;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
}

/*what we do end*/
.prac h1{
	text-align: center;
	margin-top: 90px;
	margin-bottom:50px;
	font-size: 55px;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
}

/*what we do section*/
.area{
	background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,0.6)),url("images/2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color:white;
}

.area .first{
	text-align: center;
	padding-top: 250px;
	transition:.3s ease background-color;
	font-family: 'Poppins', sans-serif;
}

.area .second{
	text-align: center;
	padding-top: 223px;
	transition:.3s ease background-color;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;

}

.area .three{
	text-align: center;
	padding-top: 250px;
	transition:.3s ease background-color;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	}

.area .four{
	text-align: center;
	padding-top: 250px;
	transition:.3s ease background-color;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	}

.area .first:hover{
	background-color:#FBB917;
	}

.area .second:hover{
	background-color:#C2B280;
	}

.area .three:hover{
	background-color:#008080;
	}

.area .four:hover{
	background-color:#306754;
	}



.area a{
	text-transform: lowercase;
	border-radius: 18px;
	padding: 12px 20px;
	transition: .4s ease background-color;
	margin-bottom: 250px;
	margin-top:20px;
	color: #a9a9a9;	
}

.project{
		font-family: 'Poppins', sans-serif;
		background-color:#C2B280;
		/*background-color: wheat;*/
}

.project h5{
	text-transform: uppercase;
}

.training{
	font-family: 'Poppins', sans-serif;
	background-color:#FBB917;
}
.training h5{
	text-transform: uppercase;
	color: white;
}
.analytics{
	font-family: 'Poppins', sans-serif;
	background-color:#008080;
}

.analytics h5{
	text-transform: uppercase;
	color: white;
}

.cons{
	font-family: 'Poppins', sans-serif;
	background-color:#306754;
}

.cons h5{
	text-transform: uppercase;
	color: white;
}
.one{
background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)),url("images/vv.jpeg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
color:white; 

}

.into{
padding-top: 250px;
padding-bottom: 200px;
margin-left: 30px;
}
.into h2{
letter-spacing: 4px;
text-transform: uppercase;
}
.into p{
font-family: 'Dosis', sans-serif;
margin: auto;
font-size: 20px;
line-height: 1.7;
padding-left: 50px;
display: block;
}
/*documents*/
#doc .down{
	text-transform: uppercase;
	display: inline-block;
	background-color: #FBB917;
	border:1px solid black;
	letter-spacing: .1rem;
	transition: .3s ease;
	transition-property: background-color, font-weight;
	font-family: 'Poppins', sans-serif;
	animation-delay: 2s;
    
}
/*.card-one{
	padding:60px;
	color: red;
}*/
#doc .down:hover{
	background-color:white;
	color:#FBB917;
	font-weight: bold;
	border:1px solid #FBB917;
}
#doc p{
		font-family: 'Poppins', sans-serif;
		

}

#doc{
	border-radius: 10px;
}
/*contact us*/

.cone h1{
	text-align: center;
	margin-top: 90px;
	margin-bottom:50px;
	font-size: 55px;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
}


section{
font-family: 'Poppins', sans-serif;
}

section li a:hover{
	color: black;
}

.con-p{
	font-family: 'Poppins', sans-serif;
}

.con-p  p{
	font-size: 16px;
	line-height: 1.5;
	/*width: 80%;*/
	text-align: block;
}


.email-btn{
	text-transform: uppercase;
	display: inline-block;
	border-radius: 18px;
	background-color: #FBB917;
	border:1px solid black;
	letter-spacing: .1rem;
	transition: .3s ease;
	transition-property: background-color, font-weight;
	font-family: 'Poppins', sans-serif;
    
 
}
.email-btn:hover{
	background-color:black;
	color: white;
	font-weight: bold;
}
.reach{
	font-family: 'Poppins', sans-serif;
}

.reach p{
  font-size: 16px;
}

.footer-copyright{
	display: flex;
	justify-content: space-between;
	padding:140px;
	font-family: 'Poppins', sans-serif;

}

.con-p .icon i:hover{
	color: blue;
}


/*invest in us page*/

.invest-navbar.scrolled {
  background-color: #0C090A !important;
  transition: background-color 200ms linear;
}

.invest{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)),url("images/inv.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    color:white; 
    }


 .intro{
 		font-family: 'Poppins', sans-serif;
 		padding-top: 350px;
 		padding-bottom: 50px;
 }   

 .intro .intro-text{
 	margin-left: 50px;
 }

 #invest-title{
text-transform: uppercase;
font-family: 'Poppins', sans-serif;
margin-top:100px;
margin-bottom:100px;
text-align: center;
letter-spacing: 1rem;
 }

 .about-invest{
 font-family: 'Poppins', sans-serif;
 text-align: center;
 padding-top: 100px;
 padding-bottom: 100px;

 }

 .about-invest p{
 	padding-top: 10px;
 	padding-left:100px;
 	padding-right: 100px;
 	line-height: 1.9;
 	font-size: 20px;
 }

 .about-invest h1{
 	color: white;
 	letter-spacing: 1rem;
 	font-size: 50px;
 	font-weight: bold;
 }

 .parallax{
 	background-image: url('images/mn.jpg');
 	background-position: center;
 	background-attachment: fixed;
 	background-size: cover;
 	background-repeat: no-repeat;
 	min-height: 500px;
 }

/*quote*/

 #quote .quote-content{
 	display: flex;
 	padding: 300px 0;
 	margin: 0 auto;
 	text-align: center;
 	max-width: 1200px;
 	flex-direction: column;
 }

 #quote  .quote-content h2{
 	line-height: 1.4;
 	font-family: 'Poppins', sans-serif;
 	font-weight: lighter;
 }


form .sub-btn .btn{
	background-color: white;
}

form .sub-btn .btn:hover{
	background-color: black;
	color: white;
}

form{
	margin-bottom: 10px;
	font-family: 'Poppins', sans-serif;
}

.pie-chart{
  padding-top:200px;
  text-align: center;
}
.pie-chart h5{
	color: white;
	line-height: 1.7;
 	font-family: 'Poppins', sans-serif;
 	font-weight: bold;

}
 
 
.list-unstyled li i:hover{
	color: blue;
}


/*voluntery page*/

.volunteer{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)),url("images/vol.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    color:white; 
    }

.intro-vol{
 		font-family: 'Poppins', sans-serif;
 		padding-top: 520px;
 		padding-bottom: 50px;
 }   

 .intro-vol .intro-text{
 	margin-left: 50px;
 }

 .paralla{
 	background-image: url('images/int.jpg');
 	background-position: center;
 	background-attachment: fixed;
 	background-size: cover;
 	background-repeat: no-repeat;
 	min-height: 500px;
 }

 #form label{
 	color: white;
 }

 #form .sub-btn .btn{
	background-color: #FBB917;
}

#form .sub-btn .btn:hover{
	background-color: black;
	color: white;
}

#msg{
padding-top: 300px;
text-align: center;	
}

#msg h5{
	color: white;
	font-family: 'Poppins', sans-serif;
 	font-weight: bold;
 	margin-top: 20px;
}

/*donate page*/

#donate{
	background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url('images/don.jpg');
 	background-position: center;
 	background-attachment: fixed;
 	background-size: cover;
 	background-repeat: no-repeat;
 	min-height: 600px;
}

#donate h3{
  position: absolute;
  z-index: 1000;
  top:350px;
  left: 100px;
  color: white;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.4rem;
  font-weight: bold;
  font-size: 40px;
}

#donate-info a{
	position: absolute;
	z-index: 1000;
	color: white;
	text-transform: uppercase;
	padding: 10px 20px;
	display: inline-block;
	margin-top: 50px;
	background-color: transparent;
	border:2px solid #FBB917;
	letter-spacing: .1rem;
	transition: .3s ease;
	transition-property: background-color, font-weight;

}

#donate-info a:hover{
	background-color:white;
	color: #FBB917;
	font-weight: bold;
	border:2px solid white;

}

#donate-info p{
	position: absolute;
	z-index: 1000;
	top:420px;
	left: 100px;
	color: white;
	font-family: 'Poppins', sans-serif;

}

.parall{
 	background-image: url('images/africa.jpg');
 	background-position: center;
 	background-attachment: fixed;
 	background-size: cover;
 	background-repeat: no-repeat;
 	min-height: 500px;
 }


 #donation-means{
 	margin-top: 100px;
 	margin-bottom: 50px;
 }


 #donation-means p{
 	font-family: 'Poppins', sans-serif;
 	padding-left: 40px;
 	line-height: 1.7rem;
 }


 #donation-means .don{
 	text-transform: uppercase;
	letter-spacing: .1rem;
 }

 /* #donation-means .donate-btn:hover{
	background-color:white;
	color: #FBB917;
	font-weight: bold;
	border:2px solid white;

} */

.page-footer{
	margin-top: 150px;
}